#user  nobody;
worker_processes  1;

#error_log  logs/error.log;
#error_log  logs/error.log  notice;
#error_log  logs/error.log  info;

#pid        logs/nginx.pid;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;

    client_max_body_size 20m;

    upstream app_nodejs {
		server 192.168.33.101:3002 weight=5 max_fails=1 fail_timeout=300s;
		server 192.168.33.102:3002 weight=5 max_fails=1 fail_timeout=300s;
    }

	include /etc/nginx/sites-available/*;
}
