<?xml version='1.0' encoding='UTF-8'?>
<project>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.5.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.ncsu.edu/dding3/DevOps.git</url>
        <credentialsId>{{ cred_id }}</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>mkdir -p $WORKSPACE/CM/CheckBoxIOPostBuild/keys
cp $WORKSPACE/../aws.pem $WORKSPACE/CM/CheckBoxIOPostBuild/keys/aws.pem
chmod 400 $WORKSPACE/CM/CheckBoxIOPostBuild/keys/aws.pem
mv $WORKSPACE/../inventory_checkbox $WORKSPACE/CM/CheckBoxIOPostBuild/inventory
cd $WORKSPACE/CM/CheckBoxIOPostBuild
ansible-playbook playbook.yml -i inventory</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>