<?xml version='1.0' encoding='UTF-8'?>
<project>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.5.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.ncsu.edu/dding3/DevOps.git</url>
        <credentialsId>{{ cred_id }}</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/M4</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd $WORKSPACE/Deployment/iTrustPostBuild
if [ ! -f "keys/aws.pem" ];
then
  mkdir keys
  cp $WORKSPACE/../aws.pem keys/aws.pem
  chmod 400 keys/aws.pem
fi
if [ ! -f "inventory" ];
then
  cp $WORKSPACE/../inventory_itrust $WORKSPACE/Deployment/iTrustPostBuild/inventory
  ansible-playbook get_instance.yml
  sleep 10
  ansible-playbook playbook.yml -i inventory
  sleep 5
fi
ansible-playbook sync_inventory.yml
ansible-playbook deploy.yml -i inventory
ansible-playbook config_nginx.yml</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>