upstream app_itrust {
    ip_hash;
    {% for ip in servers %}  
        server {{ ip }}:8080;
    {% endfor %}
}

server {
    listen 80 default_server;
    listen [::]:80 default_server;

    location / {
        proxy_pass  http://app_itrust;
    }

    location /nginx_status {
        stub_status on;
        access_log  off;
        allow all;
    }
}